body {
  background-color: rgb(253, 251, 251);
}
#cabecalho {
  background-color: green;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
#titulo {
  text-align: center;
}
#minha_foto {
  margin-top: 100px;
  margin-left: 15px;
  }
#licoes_aprendidas {
  display: block;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  color:black; 
  top: 360px;
}
#licoes_a_aprender {
  display: block;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  top: 360px;
  left: 180px;
}
#rodape {
  display: flex;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  bottom: -150px;
  left: 20px;
  font-size: 8px;
}
section article {
  width: 45%;
  height: 10vh;
  border: 1px solid black;
  position:absolute;
  top: 600px;
  left: 1%;
  padding: 10px;
  font-size: small;
}
section aside {
  width: 45%;
  height: 10vh;
  border: 1px solid black;  
  position:absolute;
  top: 600px;
  left: 50%;
  padding: 10px;
  font-size: small;
}
section table {
  position: absolute;
  left: 0%;
  top: 45%;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(253, 251, 251);
  color: black;
  width: 15%;
}